/* #region GENERAL */

* { 
    box-sizing: border-box; 
}

/* #endregion */ 


/* #region SOPHISTICATED */ 

/*****************
 * Sophisticated *
 *****************

 Colour Strategy: Black, White and One Colour 

 Base Palette:
 =============
    Black   : #050505 
    White   : #f5f5f5
    Colour  : #e7aa0f

 Fonts: 
 ======
    (This font-pairing by www.fontpair.io) 
    HEADERS         : Playfair Display SC (black) 
    BODY/PARAGRAPHS : Open Sans 
    LINKS/BUTTONS   : Open Sans (bold) 
*/  

.sophisticated header { 
    background-color: #050505; 
    height: 250px; 
    width: 100%; 
}

.sophisticated a { 
    color: #f5f5f5; 
    font-weight: bold; 
    font-family: 'Open Sans', sans-serif; 
    background-color: #050505; 
}

.sophisticated h1 { 
    margin-top: 0; 
    margin-bottom: 0; 
    padding: 30px;

    color: #e7aa0f;
    
    font-family: 'Playfair Display SC', serif; 
    font-weight: normal; 
}

.sophisticated nav {
    width: 90%;  
    margin: 0 auto; 
}

.sophisticated hr { 
    margin: 0.1em 0; 
    color: #f5f5f5; 
}

.sophisticated h2 { 
    margin-top: 0px; 

    font-family: 'Playfair Display SC', serif; 
    font-weight: normal; 
}

.sophisticated article { 
    padding: 50px 0 50px; 

    background-color: #f5f5f5; 
}

.sophisticated .wrapper { 
    margin-top: 0px;
}

.sophisticated article p  { 
    font-family: 'Open Sans', sans-serif; 
}

.sophisticated footer { 
    background-color: #050505; 

    height: 500px; 
}

.sophisticated footer .links { 
    display: inline-block; 
    width: 50%; 
}

footer .links a { 
    color: #e7aa0f;
}

footer .social a { 
    color: #e7aa0f;
}

.sophisticated footer .links a { 
    display: block; 
    max-width: 50%; 
}

.sophisticated footer .social { 
    display: inline-block; 
    max-width: 50%;
    float: right; 
}

/* #endregion */


/* #region ENERGETIC */ 

/*****************
 *   Energetic   *
 *****************

 Colour Strategy: Complementary

 Palette:
 ========
    Primary     : #a0cf31 
    Secondary   : #e91b86

 Fonts: 
 ======
    (This font-paring by www.fontpair.io)
    HEADERS         : Lobster
    BODY/PARAGRAPHS : Arimo
    LINKS/BUTTONS   : Arimo (Bold) 
 */  
.energetic { 
    background-color: white;
}

.energetic .title { 
    background-color: #a0cf31;  
    color: #e91b86;
}

.energetic h1 { 
    font-family: 'Lobster', cursive; 
}

.energetic h2 { 
    font-family: 'Lobster', sans-serif; 
}

.energetic p { 
    font-family: 'Arimo', sans-serif; 
}

.energetic a { 
    background-color: #e91b86; 
    color: #a0cf31; 
    font-weight: bold;
    font-family: 'Arimo', sans-serif; 
}

/* #endregion */ 


/* #region RELAXED */ 

/*****************
 *    Relaxed    *
 *****************

 Strategy: Analogous 

 Palette:
 ========
    Left    : #364d39 
    Centre  : #6f984c
    Right   : #ebe084

 Fonts: 
 ======
    (This font-pair an attempt by Alex Madsen) 
    HEADERS         : Chango
    BODY/PARAGRAPHS : Comfortaa
    LINKS/BUTTONS   : Comfortaa (Bold) 
*/  

.relaxed { 
    background-color: #ebe084;
}

.relaxed .title { 
    background-color: #364d39;  
    color: #6f984c;
}

.relaxed h1 { 
    font-family: 'Chango', cursive; 
}

.relaxed h2 { 
    font-family: 'Chango', cursive; 
}

.relaxed p { 
    font-family: 'Montserrat', sans-serif; 
}

.relaxed a { 
    background-color: #6f984c; 
    color: #ebe084; 
    font-weight: bold; 
    font-family: 'Montserrat', sans-serif; 
}

/* #endregion */ 


/* #region CORPORATE */ 

/*****************
 *   Corporate   *
 *****************
 
 Strategy: B&W and 1-Colour 

 Palette:
 ======== 
    B       : #1f1f1f
    W       : #e0e0e0 (or 0xffffff - 0x1f1f1f) 
    Colour  : #0018f5 

 Fonts: 
 ======
    (This font-pairing by www.fontpair.io) 
    HEADERS         : Cormorant Garamond
    BODY/PARAGRAPHS : Proza Libre
    LINKS/BUTTONS   : Cormorant Garamond
*/ 

.corporate { 
    background-color: #e0e0e0; 
}

.corporate h1 { 
    font-family: 'Cormorant Garamond', serif; 
}

.corporate h2 { 
    font-family: 'Cormorant Garamond', serif; 
}

.corporate .title {
    color: #e0e0e0; 
    background-color: #0018f5; 
}

.corporate p { 
    color: #1f1f1f; 
    font-family: 'Proza Libre', sans-serif; 
}

.corporate a { 
    background-color: #0018f5; 
    color: #e0e0e0; 
    font-family: 'Cormorant Garamond', serif; 
}

/* #endregion */ 


/* #region FUN */ 

/*****************
 *      Fun      *
 *****************
 
 Strategy: Analogous 

MAKE THIS A VAPORWAVE PLAYGROUND, ALEX!!!

 Palette:
 ========
    Centre  : #f9e3da (yellow-ish) 
    Left    : #30499b (blue-ish) 
    Right   : #ec4a94 (pink-ish) 

 Fonts: 
 ======
    (This font-pairing an attempt by Alex Madsen) 
    HEADERS         : Permanent Marker
    BODY/PARAGRAPHS : Roboto Condensed
    LINKS/BUTTONS   : Roboto Condensed (bold) 
 */  

.fun { 
    background-color: #e91b86;
}

.fun .title { 
    background-color: #414b8b;  
    color: #ffe822;
}

.fun h1 { 
    font-family: 'Permanent Marker', cursive; 
}

.fun h2 { 
    font-family: 'Permanent Marker', cursive; 
}

.fun p { 
    font-family: 'Roboto Condensed', sans-serif; 
}

.fun a { 
    background-color: #414b8b; 
    color: #ffe822; 
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif; 
}

/* #endregion */ 