/* Sophisticated */
/* Strategy: Triad*/
/* 
 Palette:
 ========
    Background  : #85e9be 
    Primary     : #0d0a8a
    Secondary   : #ef4a1d

 Fonts: 
 ======
    Fjalla One
    Cantarell
 */  

.sophisticated { 
    background-color: #85e9be; 
}

.sophisticated h1 { 
    font-family: 'Fjalla One', sans-serif; 
    background-color: #ef4a1d; 
    color: #0d0a8a; 
}

.sophisticated h2 { 
    font-family: 'Fjalla One', sans-serif; 
}

.sophisticated .title {
    color: #e0e0e0; 
    background-color: #0d0a8a; 
}

.sophisticated p { 
    color: #1f1f1f; 
    font-family: 'Proza Libre', sans-serif; 
}

.sophisticated a { 
    background-color: #0d0a8a; 
    color: #e0e0e0; 
    font-family: 'Fjalla One', sans-serif; 
}

/* Energetic */

/* Relaxed */


/* Corporate */
/* Strategy: B&W and 1-Colour*/ 
/*
 Palette:
 ======== 
    B       : #1f1f1f
    W       : #e0e0e0 (or 0xffffff - 0x1f1f1f) 
    Colour  : #3b49d3 

 Fonts: 
 ======
    Cormorant Garamond
    Proza Libre
*/ 

.corporate { 
    background-color: #e0e0e0; 
}

.corporate h1 { 
    font-family: 'Cormorant Garamond', serif; 
}

.corporate h2 { 
    font-family: 'Cormorant Garamond', serif; 
}

.corporate .title {
    color: #e0e0e0; 
    background-color: #3b49d3; 
}

.corporate p { 
    color: #1f1f1f; 
    font-family: 'Proza Libre', sans-serif; 
}

.corporate a { 
    background-color: #3b49d3; 
    color: #e0e0e0; 
    font-family: 'Cormorant Garamond', serif; 
}

/* Fun */