/* #region GENERAL */

/*****************
 *    General    *
 *****************

 All common CSS stylings go here. 
 */  

* { 
    box-sizing: border-box; 
}

header { 
    width: 100%; 
}

.wrapper { 
    margin-top: 0px; 
}

header .wrapper {
    height: 250px; 
}

h1 { 
    margin-top: 0; 
    margin-bottom: 0; 
    padding: 30px; 
}

nav { 
    width: 90%;
    margin: 0 auto;  
}

h2 { 
    margin-top: 0px; 
}

hr { 
    margin: 0.1em 0; 
}

article { 
    padding: 50px 0 50px; 
    background-color: #ddd; 
}

footer { 
    height: 300px;
}

footer .links { 
    display: inline-block; 
    width: 50%; 
}

footer .links a { 
    display: block; 
    width: 100%; 
}

footer .social { 
    display: inline-block; 
    max-width: 50%;
}

/* #endregion */ 


/* #region SOPHISTICATED */ 

/*****************
 * Sophisticated *
 *****************

 Colour Strategy: Black, White and One Colour 

 Base Palette:
 =============
    Black   : #050505 
    White   : #f5f5f5
    Colour  : #e7aa0f

 Fonts: 
 ======
    (This font-pairing by www.fontpair.io) 
    HEADERS         : Playfair Display SC (black) 
    BODY/PARAGRAPHS : Open Sans 
    LINKS/BUTTONS   : Open Sans (bold) 
*/  

.sophisticated header { 
    background-color: #050505; 
}

.sophisticated a { 
    color: #f5f5f5; 
    background-color: #050505;

    font-weight: bold; 
    font-family: 'Open Sans', sans-serif; 
}

.sophisticated h1 { 
    color: #e7aa0f;
    
    font-family: 'Playfair Display SC', serif; 
    font-weight: normal; 
}

.sophisticated h2 { 
    font-family: 'Playfair Display SC', serif; 
}

.sophisticated hr { 
    color: #f5f5f5; 
}

.sophisticated article { 
    background-color: #f5f5f5; 
}

.sophisticated article p  { 
    font-family: 'Open Sans', sans-serif; 
}

.sophisticated footer { 
    background-color: #050505; 
}

.sophisticated footer .links a { 
    color: #e7aa0f;
}

.sophisticated footer .social a { 
    color: #e7aa0f;
}

.sophisticated footer .links h3 { 
    font-weight: normal; 
    color: #e7aa0f; 
    font-family: 'Open Sans', sans-serif; 
}

/* #endregion */


/* #region ENERGETIC */ 

/*****************
 *   Energetic   *
 *****************

 Colour Strategy: Complementary

 Palette:
 ========
    Primary     : #a0cf31 
    Secondary   : #e91b86

 Fonts: 
 ======
    (This font-paring by www.fontpair.io)
    HEADERS         : Lobster
    BODY/PARAGRAPHS : Arimo
    LINKS/BUTTONS   : Arimo (Bold) 
 */  
.energetic header { 
    background-color: #a0cf31; 
}

.energetic a { 
    color: #a0cf31; 
    background-color: #e91b86;

    font-weight: bold; 
    font-family: 'Arimo', sans-serif; 
}

.energetic h1 { 
    color: #e91b86;
    
    font-family: 'Lobster', cursive; 
}

.energetic h2 { 
    font-family: 'Lobster', cursive; 
}

.energetic hr { 
    color: #e91b86; 
}

.energetic article p  { 
    font-family: 'Arimo', sans-serif; 
}

.energetic footer { 
    background-color: #a0cf31; 
}

.energetic footer .social a { 
    color: #a0cf31;
}

.energetic footer .links a { 
    color: #a0cf31;
}

.energetic footer .links h3 { 
    color: #e91b86; 
    font-family: 'Arimo', sans-serif; 
}


/* #endregion */ 


/* #region RELAXED */ 

/*****************
 *    Relaxed    *
 *****************

 Strategy: Analogous 

 Palette:
 ========
    Left    : #364d39 
    Centre  : #6f984c
    Right   : #ebe084

 Fonts: 
 ======
    (This font-pair an attempt by Alex Madsen) 
    HEADERS         : Chango
    BODY/PARAGRAPHS : Comfortaa
    LINKS/BUTTONS   : Comfortaa (Bold) 
*/  

.relaxed header { 
    background-color: #6f984c; 
}

.relaxed a { 
    color: #ebe084; 
    background-color: #364d39;

    font-weight: bold; 
    font-family: 'Montserrat', sans-serif; 
}

.relaxed h1 { 
    color: #364d39;
    
    font-family: 'Chango', cursive; 
}

.relaxed h2 { 
    font-family: 'Chango', cursive; 
}

.relaxed article { 
    background-color: #ebe084;
    color: #364d39;
}

.relaxed article p  { 
    font-family: 'Montserrat', sans-serif; 
}

.relaxed footer { 
    background-color: #6f984c; 
}

.relaxed footer .social a { 
    color: #ebe084;
}

.relaxed footer .links a { 
    color: #ebe084;
}

.relaxed footer .links h3 { 
    color: #364d39; 
    font-family: 'Montserrat', sans-serif; 
}

/* #endregion */ 


/* #region CORPORATE */ 

/*****************
 *   Corporate   *
 *****************
 
 Strategy: B&W and 1-Colour 

 Palette:
 ======== 
    B       : #222222
    W       : #dddddd (or 0xffffff - 0xdddddd) 
    Colour  : #0018f5 

 Fonts: 
 ======
    (This font-pairing by www.fontpair.io) 
    HEADERS         : Alfa Slab One
    BODY/PARAGRAPHS : Lato
    LINKS/BUTTONS   : Lato (Bold) 
*/ 

.corporate h1, .corporate h2, .corporate h3 { 
    letter-spacing: 2px; 
}

.corporate header { 
    background-color: #1a258a; 
}

.corporate a { 
    color: #ddd; 
    background-color: #222;

    font-weight: bold; 
    font-family: 'Lato', sans-serif; 
}

.corporate h1 { 
    color: #ddd;
    
    font-family: 'Alfa Slab One', cursive; 
}

.corporate h2 { 
    font-family: 'Alfa Slab One', cursive; 
}

.corporate article { 
    background-color: #ddd;
    color: #222;
}

.corporate article p  { 
    font-family: 'Lato', sans-serif; 
}

.corporate footer { 
    background-color: #1a258a; 
}

.corporate footer .social a { 
    color: #fff;
}

.corporate footer .links a { 
    color: #fff;
}

.corporate footer .links h3 { 
    color: #ddd; 
    font-family: 'Alfa Slab One', cursive; 
    font-size: 1.5em; 
}

/* #endregion */ 


/* #region FUN */ 

/*****************
 *      Fun      *
 *****************
 
 Strategy: Analogous 

MAKE THIS A VAPORWAVE PLAYGROUND, ALEX!!!

 Palette:
 ========
    Centre  : #ffe822 (yellow-ish) 
    Left    : #414b8b (blue-ish) 
    Right   : #e91b86 (pink-ish) 

 Fonts: 
 ======
    (This font-pairing an attempt by Alex Madsen) 
    HEADERS         : Permanent Marker
    BODY/PARAGRAPHS : Ubuntu Mono
    LINKS/BUTTONS   : Ubuntu Mono (bold) 
 */  
 
.fun h1, .fun h2, .fun h3 { 
    letter-spacing: 2px; 
}

.fun header { 
    background-color: #e91b86; 
}

.fun a { 
    color: #ffe822; 
    background-color: #414b8b;

    font-weight: bold; 
    font-family: 'Ubuntu Mono', monospace; 
}

.fun h1 { 
    color: #ffe822;
    
    font-family: 'Permanent Marker', cursive; 
}

.fun h2 { 
    font-family: 'Permanent Marker', cursive; 
}

.fun article { 
    background-color: #414b8b;
    color: #ffe822;
}

.fun article p  { 
    font-family: 'Ubuntu Mono', sans-serif; 
}

.fun footer { 
    background-color: #e91b86; 
}

.fun footer .links h3 { 
    color: #ffe822; 
    font-family: 'Permanent Marker', cursive; 
    font-size: 1.5em; 
}

/* #endregion */ 